body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ddeeff;
}

p
{
	margin-left: 1em;
	margin-top: 0em;
}

a:link {text-decoration: none; color: #3300FF;}
a:visited {text-decoration: none; color: #3300FF;}
a:hover {text-decoration: none; color: #3300FF; font-style: italic;}
a:active {text-decoration: underline; color: #3300FF;}

h1
{
	font-size: 3ex;
	text-align: center;
	background-color: #9999ff;
	border: thick solid blue;
	padding: 0.3em;
}

h2
{
	color: #0000bb;
	font-size: 2ex;
	border-bottom: thin solid #6666cc;
	border-bottom-width: 2px;
	margin-top: 3em;
}

h3
{
	color: #3366ff;
	margin-top: 2em;
	margin-bottom: 0em;
}