//---------------------------------------------------------------------------
//
// Name:        PackMaker2App.rc
// Author:      Programming
// Created:     14/05/2007 17:42:15
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
