/* 
   Name: resources.rc
   Author: Kip Warner
   Description: Resource script...
   Copyright: Yes
*/

#include <windows.h>
#include "resources.h"
#include "../prototypes.h"

// Icon and cursor...
IDI_ICON    ICON    LOADONCALL DISCARDABLE "resources/icon.ico"
IDD_LOGO    BITMAP  LOADONCALL DISCARDABLE VROACH_LOGO
IDW_SOUND   WAVE    LOADONCALL DISCARDABLE VROACH_SOUND

// Main dialog box...
MainBox DIALOG DISCARDABLE 320, 240, 170, 365
CAPTION VROACH_NAME
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOPMOST
FONT 9, "Lucida Console"
    BEGIN

        // Client name...
        LTEXT           "Your name...",     IDD_CLIENT_NAME_LABEL,      5,  55, 80,  10
        EDITTEXT        "",                 IDD_CLIENT_NAME,            5,  65, 160, 15

        // Client email...
        LTEXT           "Your email...",    IDD_CLIENT_EMAIL_LABEL,     5,  85, 80,  10
        EDITTEXT        "",                 IDD_CLIENT_EMAIL,           5,  95, 160, 15

        // Client submit type...
        LTEXT           "Submit type...",   IDD_CLIENT_TYPE_LABEL,      5, 115,  80, 10
        COMBOBOX        "",                 IDD_CLIENT_TYPE,            5, 125,  160, 100, CBS_DROPDOWNLIST | CBS_SORT

        // Client comments...
        LTEXT           "Comments / Suggestions...", IDD_CLIENT_COMMENTS_LABEL,  5, 145, 120, 10
        EDITTEXT        "",                 IDD_CLIENT_COMMENTS,        5, 155, 160, 120, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | ES_WANTRETURN

        // Check boxes...
        AUTOCHECKBOX    "Attach my system specifications", IDD_ATTACH_SPECS,  5, 285, 160, 10
        AUTOCHECKBOX    "Attach my configuration files",   IDD_ATTACH_CONFIGS,  5, 300, 160, 10

        // Client controls...
        PUSHBUTTON      "Send",             IDD_SEND,                   5,  316, 44,  12
        PUSHBUTTON      "About",            IDD_ABOUT,                  62, 316, 44,  12
        PUSHBUTTON      "Close",            IDD_CLOSE,                  121, 316, 44,  12

        // Group boxes seperator...
        GROUPBOX        "",                 IDC_STATIC,                 5, 330, 160, 5

        // Status window...
        CTEXT           "Ready...",         IDD_STATUS,                   5, 340, 160, 25

    END

// About dialog box...
AboutBox DIALOG DISCARDABLE 32, 32, 160, 300
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "Lucida Console"
    BEGIN
        DEFPUSHBUTTON   "OK", IDOK, 25, 280, 50, 14
        PUSHBUTTON      "User Manual", IDD_USER_MANUAL, 85, 280, 50, 14
        ICON            IDI_ICON, IDC_STATIC, 7, 7, 21, 20

        LTEXT           "vRoach - by Vertigo", IDC_STATIC, 40, 12,  100, 8
        LTEXT           VROACH_NAME, IDC_STATIC, 40, 22,  100, 8
        
        PUSHBUTTON      "Programmer: Kip Warner", IDD_PROGRAMMER, 7, 50, 145, 12, BS_LEFT 
        PUSHBUTTON      "E-Mail:     kip@zero47.com", IDD_EMAIL, 7, 62, 145, 12, BS_LEFT 
        PUSHBUTTON      "ICQ:        29008229", IDD_ICQ, 7, 74, 145, 12, BS_LEFT 
        PUSHBUTTON      "URL:        http://www.zero47.com", IDD_URL, 7, 86, 145, 12, BS_LEFT

        CTEXT           """Software for the BBS generation""", IDC_STATIC, 7, 110, 144, 8
        
        EDITTEXT        "ERROR", IDD_LICENSE, 7, 130, 146, 140, WS_BORDER | ES_READONLY | ES_LEFT | ES_MULTILINE | WS_VSCROLL
    END

// Exe image version stuff...
1 VERSIONINFO
FILEVERSION VROACH_FILE_VERSION
PRODUCTVERSION 1, 0, 0, 0
FILETYPE VFT_APP
    BEGIN                                     
      BLOCK "StringFileInfo"
      BEGIN
        BLOCK "040904E4"                      // &H0409 = LANG_ID English, &H04E4 = charset ANSI
        BEGIN
          VALUE "CompanyName",      "Vertigo"
          VALUE "FileDescription",  "vRoach - A bug submitter that uses a SMTP mail server."
          VALUE "FileVersion",      VROACH_NAME
          VALUE "InternalName",     "vRoach"
          VALUE "LegalTradeMarks",  "Software for the BBS generation."
          VALUE "OriginalFilename", "vRoach.exe"
          VALUE "ProductName",      "vRoach"
          VALUE "ProductVersion",   VROACH_NAME
        END
      END
      BLOCK "VarFileInfo"
      BEGIN
        VALUE "Translation", 0x0409, 1252
      END
    END

