body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}

p
{
	margin-left: 1em;
	margin-top: 0em;
}

a:link {text-decoration: none; color: #FF3300;}
a:visited {text-decoration: none; color: #FF3300;}
a:hover {text-decoration: none; color: #FF3300; font-style: italic;}
a:active {text-decoration: underline; color: #FF3300;}

h1
{
	font-size: 5ex;
	text-align: center;
	background-color: #ff9999;
	border: thick solid red;
	padding: 0.3em;
}

h2
{
	color: #3366ff;
	font-size: 3ex;
	border-bottom: thin solid blue;
	border-bottom-width: 70%;
	margin-top: 3em;
}

h3
{
	color: #ffcc00;
	margin-top: 2em;
	margin-bottom: 0em;
}